.place-item-animated-enter {
    opacity: 0;
    //transform: translate3d(-800%, 0, 0);
}
.place-item-animated-enter-active {
    //transform: translate3d(0, 0, 0);
    opacity: 1;
    //transition: all 0.3s linear;
}

.place-item-animated-exit-active {
    //transform: translate3d(-800%, 0, 0);
    opacity: 0.01;
    //transition: all 0.2s linear;
}

.place-item-animated-exit {
    opacity: 0;
}