body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

.menu-btn {
  background: url('../img/vp_logo.png') no-repeat;
  width: 30px;
  height: 40px;
  margin-left: 5px;
}

.main-nav {
  .md-list-tile {
    //padding: 0 26px;
  }

  .md-toolbar {
    height: 50px;

    .md-btn--icon {
      height: 35px;
      width: 35px;
      padding: 0;
    }
    .md-btn--toolbar {
      margin-top: 10px;
    }
  }

  .md-toolbar-relative {
      margin-top: 50px;
  }

  .md-drawer-relative--mini.md-drawer-relative--mini {
      margin-left: 55px;
  }

  .md-title--toolbar {
    line-height: 50px;
  }

  .md-drawer--mini.md-drawer--mini {
    width: 55px;
  }
}

.inline-menu-item {
  display: inline-block;
  float: right;
}

.md-paper--1, .md-paper--3 {
  transition: all 0.2s ease;
}