@media screen and (min-width: 1025px) {
    .material-icons.md-icon {
        font-size: 24px;
    }
}

@media screen and (max-width: 1025px) {
    .menu-btn {
        margin-left: 1px;
        margin-top: -2px;
    }

    .main-filters {
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 768px) {
    .menu-btn {
        margin-left: 8px;
        margin-top: -3px;
    }
}

@media screen and (max-width: 320px) {
    .menu-btn {
        margin-left: 12px;
        margin-top: -3px;
    }
}

@media screen and (max-width: 470px) {
    .page-wrapper {
        width: 100vw;
        //padding: 8px;
    }

    .place-item {
        min-width: 100%;
        margin: 0 0 4px 0;
    }

    .place-thumb {
        width: 100%;
    }

    .main-filters {
        margin-top: 15px;
    }
}