$cardWidth: 200px;

.places-items {
    //width: calc(100vw - 55px);
    max-width: 890px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.place-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: $cardWidth;
    max-width: $cardWidth;
    height: 215px;
    margin: 8px;

    &--details {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 8px;
    }

     &--header {
         display: flex;
         align-items: center;
         justify-content: center;
     }

      &--title {
         display: flex;
         align-items: flex-start;
         max-height: 38px;
         padding: 5px 0 10px 0;
         font-size: 16px;
         line-height: 18px;
         font-weight: 500;
         color: $terinary;
         text-decoration: none;
         cursor: pointer;
         overflow: hidden;

          > div {
              min-width: 16px;
              margin-right: 5px;
          }
      }

      &--phone {
        flex: 1;
        display: flex;
        align-items: flex-end;
      }

      &--footer {
        height: 40px;
        display: flex;
        border-top: 1px solid rgba(0,0,0,0.1);

        > div {
            flex: 1;

            > div {
                padding: 8px;
            }
        }

        > a {
            padding: 8px;
        }
      }
}

.item-with-icon {
    display: flex;
    align-items: center;

    i {
        font-size: 22px;
    }
}

.place-thumb {
    height: 80px;
    width: $cardWidth;
    //border-radius: 50%;
    cursor: pointer;
}